.sb-topnav{
    background-color: #5f6485 !important;
}
.sb-sidenav{
    background-color: #676c8bd5 !important;
}
.sb-sidenav-footer{

    background-color: #7c5f8100!important;
}
.sb-nav-fixed{
    background-color: #e3e1e4d3 !important;
}
.card {
    background-color: #f0eff0d5!important;
}
#inputPrix{
     width: 136px !important;
}
#inputDate{
    width: 200px !important;
}
.btn-primary{
    background-color:#70769c !important ;
}
#showFormBtn{
    background-color:#70769c !important ;
    color: white;
}
#editB{
    background-color: rgb(99, 97, 99) !important;
    color: white;
}
#deletB{
    background-color: rgb(184, 0, 0) !important;
    color: white;
}
#showPrint{
    background-color:#70769c !important ;
    color: white;
}